<!DOCTYPE html>
<html>
	<head>
		<title>Two factor authentication</title>
		<script type="text/javascript" src="javascripts/jquery-3.3.1.min.js"></script>
	</head>
	<body>
		<h1>Time-based One-time Password algorithm</h1>
		The Time-based One-Time Password algorithm (TOTP) is an algorithm that computes a one-time password
		a shared secret key and the current time. It has been adopted as Internet Engineering Task Force 
		standard RFC 6238 is the cornerstone of Initiative For Open Authentication (OATH), 
		and is used in a number of two-factor authentication systems. -From Wikipedia, the free encyclopedia
		<br/><br/><br/>
		<a href="register">Register here</a>&nbsp;&nbsp;<a href="login">Login here</a>
		<br/><br/>
		You need to install Google authenticator or Microsoft authenticator or Authy to test Time-based One-time Password algorithm

		<br/><br/>
		Google Authenticator<br/>
		<a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2">
			<img src="images/google_play.svg" height="40" width="120"/>
		</a>

		<a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">
			<img height="40" width="120" src="images/app_store.svg"/>
		</a>

		<br/><br/>
		Microsoft Authenticator<br/>
		<a href="https://play.google.com/store/apps/details?id=com.azure.authenticator">
			<img src="images/google_play.svg" height="40" width="120"/>
		</a>

		<a href="https://itunes.apple.com/us/app/microsoft-authenticator/id983156458?mt=8">
			<img height="40" width="120" src="images/app_store.svg"/>
		</a>

		<br/><br/>
		Authy<br/>
		<a href="https://play.google.com/store/apps/details?id=com.authy.authy">
			<img src="images/google_play.svg" height="40" width="120"/>
		</a>

		<a href="https://itunes.apple.com/us/app/authy/id494168017?mt=8">
			<img height="40" width="120" src="images/app_store.svg"/>
		</a>
	</body>
</html>