<html>
    <head>
        <title>Validate Code</title>
        <script type="text/javascript" src="javascripts/jquery-3.3.1.min.js"></script>
    </head>
    <body>

        Verify your code<br/><br/>
        <form name="validateCode" id="validateCode" method="post" action="validateCode">
            Code&nbsp;&nbsp;<input type="text" id="txtCode" name="txtCode" /><br/><br/>
            <input type="button" value="Verify" id="btnValidateCode"/>
        </form>

        <script>
        
        $("#btnValidateCode").click(function(){

            code = $("#txtCode").val();

            if(code == ""){
                alert("Please enter a code");
                return
            }

            if(code.length != 6){
                alert("Invalid code");
                return;
            }

            $("#validateCode").submit();
        });
        </script>
    </body>
</html>